.signform {
  margin: 0 auto;
  width: 300px;
  background-color: rgb(254, 251, 247);
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 0 1px 1px rgb(182, 178, 178);
}
.signdown{
  background-image: url('https://res.cloudinary.com/dhxefoe7j/image/upload/o_23/v1662564597/Studeasy/Sans_titre_24_zuzgmx.png');
  background-size: cover;
  background-position: center;
  margin: 20px auto;
  padding: 40px;
}
h2{
  color: rgb(224, 115, 115);
}
