.chatchat{
  // height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 12px 12px;
  padding: 24px 4px;


}

.chatindex{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  grid-gap: 16px;
  text-align: center;
  // background-color: rgba(234, 241, 248, 0.8);
  font-size: 20px;
  // width: 100%;
  // padding-top: 16px;


}
.chatindex a{
  text-decoration: none;
  color: rgb(118, 121, 142);
  font-weight: 600;
  font-family: sans-serif;
}
.chatindex a:hover {
  color: rgb(74, 164, 242);
}
.chatitle{
  text-align: center;
}
.chatitle p{
  color: rgb(254, 107, 84);
  font-weight: bold;
  font-size: 24px;
  font-family: sans-serif;

}
.study{
  position: absolute;
  top: 24px;
  right: 16px;
}

.classs{
  color: rgb(130, 110, 185);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.usermail{
  color: rgb(13, 218, 160);
  font-weight: bold;
  font-family: sans-serif;
  text-align: right;
}
// .vertical{
//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;
// }
.classmates{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  // background: rgb(63,94,251);
// background: linear-gradient(90deg, rgba(63,94,251,0.1) 0%, rgba(252,70,107,0.014740930551908282) 100%);
  border-radius: 10px;
  max-height: 500px;
  align-items: center;
  margin: 100px 16px 0;
  color: rgb(130, 110, 185);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}
.mates {
  margin: 6px;

}

.upmate{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #0E40B6;
  width: 100%;
  height: 120px;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.classroom{
  // background: rgb(233,222,246);
  // background: linear-gradient(0deg, rgba(233,222,246,0.4) 0%, rgba(241,231,254,0.3) 100%);
  background: rgb(171,210,237);
  background: linear-gradient(90deg, rgba(171,210,237,0.12958686892725846) 11%, rgba(223,194,255,0.051155496378238796) 100%);
  border-radius: 10px;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 15px rgba(16, 16, 16, 0.2);
}
.classroom img:hover {
width: 95px;

}
.classroom h5{
  color: #0E40B6;
  font-weight: bold;
}
.menu4 {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // a degager apres*
  // height: 700px;
  padding: 20px;
  border-radius: 10px;
  margin: 26px 20px 16px;
  text-align: center;
  max-width: 200px;

}


.menu4 a{
  margin: 10px 0;
  display: block;
  background: rgb(119,50,171);
  background: linear-gradient(0deg, rgba(119,50,171,1) 68%, rgba(138,72,189,1) 80%, rgba(146,94,185,1) 90%, rgba(166,124,198,1) 100%);
  border-radius: 10px;
  padding: 6px 12px;
  color: white;
  text-decoration: none;
}
.menu4 a:hover{
  // background: rgb(75,7,124);
  // background: linear-gradient(0deg, rgba(75,7,124,0.4) 26%, rgba(101,35,148,0.4) 31%, rgba(127,102,146,0.4) 40%);
  background: #0E40B6;
  color: white;
  font-weight: bold;
}
