<h1>Documents</h1>
<br>
<hr>
<h3>ressources</h3>

<label for="avatar">Download available ressources :</label>

<a href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1662564437/Studeasy/Sans_titre_27_aow7hc.png" download>
  <img src="https://res.cloudinary.com/dhxefoe7j/image/upload/v1662564437/Studeasy/Sans_titre_27_aow7hc.png" width="40px" alt="Lesson 3">
</a>

<br>
<hr>
<h3>Upload file :</h3>

<label for="avatar">Choose a file:</label>

<input type="file"
       id="file" name="file"
       accept="image/png, image/jpeg">
