.global-dash{

display: flex;
border-radius: 6px;
flex-direction: row;
padding-bottom: 18px;
background-color: rgba(251, 217, 204, 0.459);

margin: 0 auto;
width: 100%;

}
 h1{
  text-align: center;
  color: rgb(84, 97, 97);
}
.menu {
  background-color: white;
  box-shadow: 0 0 1px rgb(176, 173, 173);
  // a degager apres*
  // height: 700px;
  padding: 20px;
  border-radius: 10px;
  margin: 26px 20px 16px;
  text-align: center;
  max-width: 200px;

}

.menu a{
  margin: 10px 0;
  display: block;
}
a.btncourses{
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  background-color: rgb(232, 187, 132);
  border-radius: 8px;
}
a.btncourses:hover{
  color: white;
  font-weight: bold;
  background-color: rgb(249, 179, 93);
}
// **

a.btndoc{
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  background-color: rgb(168, 150, 244);
  border-radius: 8px;
}
a.btndoc:hover{
  color: white;
  font-weight: bold;
  background-color: rgb(181, 133, 244);
}
// **


a.btnresults{
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  background-color: rgb(249, 133, 133);
  border-radius: 8px;
}
a.btnresults:hover{
  color: white;
  font-weight: bold;
  background-color: rgb(223, 107, 75);
}
// **

a.btnchat{
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  background-color: rgb(127, 252, 231);
  border-radius: 8px;
}
a.btnchat:hover{
  color: white;
  font-weight: bold;
  background-color: rgb(66, 224, 214);
}


.results-graph{

  background-color: white;
  box-shadow: 0 0 1px rgb(176, 173, 173);
  // a degager apres*
  height: 300px;
  padding: 20px;
  border-radius: 10px;
  margin: 12px 20px;
  text-align: center;
  flex-grow: 1;
  min-width: 400px;
  max-width: fit-content;

}
.results-graph .chartp{
  margin: 0;
  font-size: 13.5px;
  font-weight: bold;
}

.deadlines {
  background-color: white;
  box-shadow: 0 0 1px rgb(176, 173, 173);
  // a degager apres*
  height: 300px;
  padding: 20px;
  border-radius: 10px;
  margin: 12px 20px;
  text-align: center;
  flex-grow: 1;

}
.up{
  display: flex;
  justify-content: center;

}

.week-schedule{
  background-color: white;
  box-shadow: 0 0 1px rgb(176, 173, 173);
  // a degager apres*
  min-height: 500px;
  padding: 20px;
  border-radius: 10px;
  margin: 12px 20px;
  text-align: center;

}
.week-schedule h4{
  color: rgb(65, 57, 88);
}

.modules{
  flex-grow: 1;
}
#Aujourdhui {
  text-align: center;
  border: none;
  justify-content: center;
  color: rgb(225, 113, 109);

}
.today p{
  color: rgb(225, 113, 109);
  font-weight: bold;
}
span.current-month {
  font-weight: bold;
  font-size: 30px;
  color: rgb(225, 113, 109);

}
span.user {
  color: rgb(102, 207, 102);


}

p.wel {
  padding-top: 20px;
  // padding-left: 24px;
}
.anychart-credits{
  display: none;
}
.event {
  background-color: rgb(211, 225, 252);
  border-radius: 8px;
  margin-bottom: 6px;
  padding-bottom: 6px;
  

}
.event:hover{
  background-color: rgb(133, 190, 246);
  font-weight: 600;
  color: white;

}
