.global-dash{

display: flex;
border-radius: 6px;
flex-direction: row;
margin: 0 auto;

}
.menu {
  background-color: #F7F5F0;
  box-shadow: 0 0 1px rgb(176, 173, 173);
  // a degager apres*
  height: 700px;
  padding: 20px;
  border-radius: 10px;
  margin: 12px 20px;
  text-align: center;

}

.menu a{
  margin: 10px 0;

}
a.btncourses{
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  background-color: rgb(232, 187, 132);
  border-radius: 8px;
}
a.btndoc{
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  background-color: rgb(168, 150, 244);
  border-radius: 8px;
}
a.btnresults{
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  background-color: rgb(249, 133, 133);
  border-radius: 8px;
}
a.btnchat{
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  background-color: rgb(127, 252, 231);
  border-radius: 8px;

}
