// Specific CSS for your home-page

// ==================VERSION 2========================

// Specific CSS for your home-page
.landingbox{
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 600px;
  // background-color: rgba(49, 195, 193, 0.474);
  background-image : url('https://res.cloudinary.com/dhxefoe7j/image/upload/o_46/v1662564690/Studeasy/Sans_titre_28_nxv0qx.png');
  // background-image: url('https://res.cloudinary.com/dhxefoe7j/image/upload/o_38/v1662551988/Studeasy/pexels-fox-1595385_snr5wa.jpg');
  // background-image: url('https://res.cloudinary.com/dhxefoe7j/image/upload/o_34/v1662562842/Studeasy/pexels-yan-krukov-8199562_oydm05.jpg');
  background-size: cover;
  background-position: center;

}
// .landing-content{
// //   display: flex;
// //   flex-direction: column;
// //   justify-content: flex-end;
// //
//   // position: relative;
// }
.landing-text{
  margin-top: 30px;
}

.landing-text h1 {
  font-weight: bold;
  font-size: 120px;
  color: rgb(212, 104, 104);
  letter-spacing: 0;
}
span.s{
  color: rgb(250, 122, 94);
}
span.t{
  color: rgb(239, 106, 223);
}
span.u{
  color: rgb(233, 199, 63);
}
span.d{
  color: rgb(92, 221, 49);
}
span.i{
  color: rgb(77, 228, 215);
}
span.z{
  color: rgb(77, 160, 243);
}
span.y{
  color: rgb(187, 101, 249);
}
h3{
  color:#fd9861;
  background-color: white;
  // width: 400px;
  // text-align: center;
  padding: 8px;
}
span.easy{
  color: #eb4f4f;
  font-weight: bold;
}

.landing-links{
  // height: 100px;
  // vertical-align: middle;
  justify-content: center;
  margin-top: 100px;
  margin-left: 40px;
  margin-right: 40px;
    // margin-bottom: 20px;
  padding-top: 20px;
  // position: absolute;
  // bottom: 16px
}
.landing-links a{
  margin: 0 30px;
}
.landing-links a.signup {
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 6px;
  background-color:#f5dd65;
  color: rgb(239, 135, 94);
  font-weight: bold;
  font-size: 24px;
}
.landing-links a.signup:hover {

  border-radius: 6px;
  text-decoration: none;
  background-color: rgb(239, 135, 94);
  color: #f5dd65;

  font-weight: bold;
}

.landing-links a.login {
  padding: 8px 20px;
  background-color: rgb(55, 190, 179);
  border-radius: 6px;
  text-decoration: none;
  color: rgb(253, 252, 252);
  font-weight: bold;
  font-size: 24px;
}
.landing-links a.login:hover {
  background-color:#8de0db;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  // height: 160px;
  text-align: center;
  padding: 16px;
}
.footer  p{
  font-size: 10px;
  margin-bottom: 0;

}
.footer ul{
  list-style: none ;
  display: inline;
  padding-left: 0;
}
.footer li{
  padding-left: 0;
  display: inline;
}
.footer i {
  text-decoration: none;
  padding: 0 20px;
  font-size: 18px;
  color: rgb(171, 164, 164);
}
.footer i:hover {
  color: rgb(50, 161, 152);
}
.foot{
  padding: 8px;
}








// =======================VERSION 1 ========================

// .homebox{
//   text-align: center;

//   margin: 0 auto;

// }
// .homebox h1{
//   color: rgb(65, 65, 113);
// }
// .homebox h3 {
//   color: rgb(20, 162, 115);
// }
// .homepage {
//   background-image: url('https://res.cloudinary.com/dhxefoe7j/image/upload/v1663095390/Studeasy/STUDIZY_The_best_way_to_pass_your_exams_easily_bv9wxv.png');
//   background-position: center;
//   background-size: cover;
//   height: 800px;
//   position: relative;
// }
// .homepage .liens {
// display: flex;
// flex-direction: row;
// justify-content: space-evenly;
// width: 400px;
// position: absolute;
// bottom: 80px;
// right: 0px;

// }
// .liens .btn-signup{
//   text-decoration: none;
//   background-color: rgb(248, 224, 87);
//   color: coral;
//   font-weight: bold;
//   font-size: 20px;
//   border-radius: 10px;
//   padding: 10px 18px;
// }
// .liens .btn-signup:hover{
//   box-shadow: 0 0 1px rgb(173, 169, 169);
//   background-color:coral ;
//   color:rgb(248, 224, 87) ;
// }
// .liens .btn-login{
//   text-decoration: none;
//   background-color: rgb(139, 209, 115);
//   color: rgb(248, 224, 87);
//   font-weight: bold;
//   font-size: 20px;
//   border-radius: 10px;
//   padding: 10px 20px;
// }
// .liens .btn-login:hover{
//   box-shadow: 0 0 1px rgb(173, 169, 169);
//   background-color: rgb(123, 123, 241) ;
//   color: rgb(201, 248, 113) ;
// }


// .footer {
//   text-align: center;
//   line-height: 8px;
//   padding-top: 32px;
//   padding-bottom: 8px;
//   // margin-left: 100px;
//   // margin-right: 100px;
// }

// .footer li {
//   text-decoration: none;
//   display: inline;
//   text-align: center;

// }

// .footer p{
//   font-size: 10px;
// }

// .footer .info i{
//   font-size: 16px;
// }
// .footer .follow {
//   font-size: 16px;
// }
// .footer ul{
//   padding-left: 0;
// }
// .footer i {
//   font-size: 24px;
//   padding: 16px;
// }
// .footer a {
//   color: #0A98DD;
// }
// .footer a:hover {
//   color: #7897ab;
// }
