// CONTAINER
.homebox{
  margin: 0 auto;
}

// BANNER
.home-banner{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;

}
.lft{
  text-align: left;
  width: 400px;
  // padding: 40px;
  // margin: 40px;
  // background: rgb(46,153,226);
  // background: linear-gradient(90deg, rgba(46,153,226,0.3) 0%, rgba(77,138,216,0.1) 44%, rgba(169,123,245,0.1) 87%, rgba(0,212,255,0.1) 100%);
  // border-radius: 16px;
}
.lft .title{
  font-size: 70px;
}
.lft h1{
  text-align: left;

}
// .laptop{
//   // padding: 40px;
//   // margin: 40px;
// }

// BLUE DIV
.band{
  background-color: rgba(19, 26, 101, 0.811);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
}
.band h1{
  color: white;
}
// Text Features
.features{
  text-align: left;
  width: 500px;
}
.features h1{
  text-align: left;
}
// Grid squares
.square{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;

}
.feat{
  background-color: white;
  border-radius: 12px;
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(62, 62, 138);
  text-align: center;
  padding: 6px;
}
.feat img{
  margin-bottom: 10px;
}

// BOTTOM - FOOTER
.btmdiv{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;

}
// .student{

// }
.textbox{
  text-align: right;

}
