
.simple-calendar {
  .day a{
  color: rgb(135, 83, 200);
  }
  .day a:hover {
  color: rgb(120, 43, 215);
  font-weight: bold;
  }

  // .day {}
  // .day:hover{
  //   color: orange;
  // }

  // .wday-0 {}
  // .wday-1 {}
  // .wday-2 {}
  // .wday-3 {}
  // .wday-4 {}
  // .wday-5 {}
  // .wday-6 {}

  // .today {}
  // .past {}
  // .future {}

  // .start-date {}

  // .prev-month {}
  // .next-month { }
  // .current-month {}

  // .has-events {}
}
