
.simple-calendar {
  .day a{
  color: rgb(102, 98, 186);
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  }
  .day a:hover {
    color: rgb(102, 98, 186);
    font-weight:bold;

  }
  .calendar{
    height: 500px;
  }
  .calendar-heading a{
    text-decoration: none;
    color: rgb(106, 102, 129);
    font-weight: bold;
  }

  .calendar-heading a:hover{
    text-decoration: none;
    color: rgb(114, 101, 188);
    font-weight: bold;
  }
  // .day {
  //   background-color: rgba(231, 236, 243, 0.632);
  // }
  .day:hover{
    // border-right: solid gray 1px;
    border-bottom: solid rgb(65, 67, 66) 1px;
    // border-left: solid gray 1px;

  }
  //   background-color:rgba(226, 237, 252, 0.993) ;
  // }
  //   color: orange;
  // }
  .lol{
    color: rgb(242, 169, 121);
  }

  // .wday-0 {}
  // .wday-1 {}
  // .wday-2 {}
  // .wday-3 {}
  // .wday-4 {}



  .today {
    background-color: #f9f9d4;
  }
  // .past {}
  // .future {}

  // .start-date {}

  // .prev-month {}
  // .next-month { }
  // .current-month {}

  // .has-events {}
}
