
.simple-calendar {
  .day a{
  color: rgb(135, 83, 200);
  text-decoration: none;
  }
  .day a:hover {
    color: rgb(56, 70, 190);
  font-weight:600;
  }
  .calendar{
    height: 500px;
  }
  .calendar-heading a{
    text-decoration: none;
    color: rgb(106, 102, 129);
    font-weight: bold;
  }

  .calendar-heading a:hover{
    text-decoration: none;
    color: rgb(114, 101, 188);
    font-weight: bold;
  }
  .day {
    background-color: rgba(231, 236, 243, 0.632);
  }
  .day:hover{
    background-color: rgb(255, 255, 255);
  }
  //   color: orange;
  // }

  // .wday-0 {}
  // .wday-1 {}
  // .wday-2 {}
  // .wday-3 {}
  // .wday-4 {}



  .today {
    background-color: rgba(146, 194, 145, 0.3);
  }
  // .past {}
  // .future {}

  // .start-date {}

  // .prev-month {}
  // .next-month { }
  // .current-month {}

  // .has-events {}
}
