.card-course {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
  
  .card-course > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  
  
  
  .card-course .card-course-infos {
    padding: 16px;
    // display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
  
  .card-course-infos .card-course-teacher {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;
  }

  .result {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 48px;
  }
  
  .card-course .btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #670BFF;
    transition: background 0.3s ease;
  }