.card-course {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 10px;

  }
  .titlecourses{
    padding: 24px 24px 0px 36px;
    text-align: left;
    margin-bottom: 0;
    color: #0E40B6
  }
  .upcourses p{
    padding: 24px 36px;
    margin-bottom: 0;
  }
  .upcourses{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .card-course{
    background: rgb(238,174,202);
background: linear-gradient(50deg, rgba(238,174,202,0) 0%, rgba(112,172,242,0.1632003143054097) 100%);

  }
  .card-course > img {
    height: 200px;
    width: 100%;
    object-fit: cover;


  }



  .card-course .card-course-infos {
    padding: 16px;
    // display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;


  }

  .card-course .card-course-infos h2{
    text-align:justify;
    color: #0E40B6;

  }
  .card-course .card-course-infos p{
    text-align:justify;

  }

  .card-course-infos .card-course-teacher {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;
  }

  .result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 36px;
    margin: 0 36px;
    padding-bottom: 0 20px;
  }

  .card-course .btn-flat {
    // color: white;
    // padding: 8px 24px;
    border-radius: 4px;
    // background: #670BFF;

  background: rgb(119,50,171);
  background: linear-gradient(0deg, rgba(119,50,171,1) 68%, rgba(138,72,189,1) 80%, rgba(146,94,185,1) 90%, rgba(166,124,198,1) 100%);
  border-radius: 10px;
  padding: 6px 12px;
  color: white;
  text-decoration: none;
  }

  .card-course .btn-flat:hover{
    // background: rgb(75,7,124);
    // background: linear-gradient(0deg, rgba(75,7,124,0.4) 26%, rgba(101,35,148,0.4) 31%, rgba(127,102,146,0.4) 40%);
    transition: background 0.3s ease;
    background: #0E40B6;
    color: white;
    font-weight: bold;
  }

  .menu3 {
    background-color: white;
    box-shadow: 0 0 1px rgb(176, 173, 173);
    // a degager apres*
    // height: 700px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;

  }

  .menu3 a{
    margin: 10px 0;
    display: block;
    background: rgb(119,50,171);
    background: linear-gradient(0deg, rgba(119,50,171,1) 68%, rgba(138,72,189,1) 80%, rgba(146,94,185,1) 90%, rgba(166,124,198,1) 100%);
    border-radius: 10px;
    padding: 6px 12px;
    color: white;
    text-decoration: none;
  }
  .menu3 a:hover{
    // background: rgb(75,7,124);
    // background: linear-gradient(0deg, rgba(75,7,124,0.4) 26%, rgba(101,35,148,0.4) 31%, rgba(127,102,146,0.4) 40%);
    background: #0E40B6;
    color: white;
    font-weight: bold;
  }
.container1{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 16px;
}


.buddies{
  background-color: white;
  border-radius: 12px;
  // padding: 20px 16px;
  box-shadow: 0 0 1px rgb(176, 173, 173);
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
//   align-items: center;
}

.faces{
  display: flex;
  flex-direction: column;
  padding: 20px 16px;

}
.faces img{
  margin-bottom: 10px;
  margin-top: 4px;

}
.bud{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.bud img{
  margin-right: 10px;
}
.bud p{
  color: #0E40B6;
  }
  .bud p:hover{
    color: rgb(87, 149, 243);
  }
// .usersss p{
//   margin-bottom: 10px;
//   margin-top: 4px;
// }
// .details{
//   display: flex;
//   flex-direction: column;
// }
.purplebud{
  background: rgb(119,50,171);
  background: linear-gradient(0deg, rgba(119,50,171,1) 68%, rgba(138,72,189,1) 80%, rgba(146,94,185,1) 90%, rgba(166,124,198,1) 100%);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.purplebud p{
  color: rgb(232, 210, 48);
  font-weight: bold;
  font-size: 20px;
}
