

<div class="chatchat">


  <div class="chatitle">
    <h1>Chatrooms</h1>
    <p>Select your channel!</p>

  </div>

  <div class="study">
    <p class="classs">The Pythagor University - class Maths L2</p>
    <p class="usermail"><%= current_user.email %> </p>
  </div>

  <div class="chatindex">
    <% @chatrooms.each do |chatroom| %>
      <%= link_to chatroom.name, chatroom_path(chatroom)  %>
      <br>
    <% end %>
  </div>

  <div class="classmate">
     <% @users.each do |user| %>
     <%= user.email  %>
      <% end %>
   </div>


</div>
