.message-info{
    margin-bottom: 4px;
    margin-top: 4px;
}

.message-content{
    background-color: $second_color;
    color: $third_color;
    width: fit-content;
    border-radius: 10px 10px 10px 0px;
    border: solid;
    padding: 4px;
    border-width: thin;
    border-color: #49497B;
    margin-bottom: 4px;
}

.message-content p {
    margin-top: 0;
    margin-bottom: 0;
}

//Pour le premier message du sender
.sender-style, .message-content {
    display: flex;
    flex-direction: column;
    align-items: end;
}

//styling des messages du sender
.sender-style {
    .message-content {
    background-color: $first_color;
    border-radius: 10px 10px 0px 10px;
    color: white;
    }
}

