<h1> <%= @course.title %> </h1>
<br><br>

<hr>

<table class="notes">
      <tr>
        <th>Exam's date</th>
        <th> Result</th>
      </tr>


       <tr>
        <%  @results.each do |result| %>
          <td><%= result.date.strftime("%Y/%b/%d")  %></td>
          <td><%= result.value %></td>
      </tr>
        <% end %>
</table>



<br><br><br>

<p> <%= link_to "Back" , results_path %> </p>
