<h1>Welcome to your dashboard !</h1>

<div class="global-dash">

  <div class="menu">
    <a href="#" class="btncourses">Courses</a>
    <hr>
    <a href="#" class="btndoc">Documents</a>
    <hr>
    <a href="#" class="btnresults">Results</a>
    <hr>
    <a href="#" class="btnchat">Chat</a>
    <hr>

  </div>


  <div class="modules">

    <div class="results-graph">

      <%=  image_tag "https://res.cloudinary.com/dhxefoe7j/image/upload/v1662828611/Studeasy/pool_7_mgpdrc.png", width:"250px" %>

    </div>

    <div class="deadlines">

    <%= image_tag "https://res.cloudinary.com/dhxefoe7j/image/upload/v1662830008/Studeasy/Your_weekly_deadlines_1_cbuckl.png", width:"580px" %>

    </div>

    <div class="week-schedule">

    </div>


  </div>
















































</div>
