<h1>Welcome to your dashboard !</h1>

<div class="global-dash">

  <div class="menu">
    <a href="#" class="btncourses">Courses</a>
    <hr>
    <a href="#" class="btndoc">Documents</a>
    <hr>
    <a href="#" class="btnresults">Results</a>
    <hr>
    <a href="#" class="btnchat">Chat</a>
    <hr>

  </div>


  <div class="modules">

    <div class="results-graph">

    </div>

    <div class="deadlines">

    </div>

    <div class="week-schedule">

    </div>


  </div>
















































</div>
