<h3>Welcome "User first_name" ! </h3>

<div class="global-dash">

  <div class="menu">
    <%= link_to "Courses", courses_path, class:"btncourses" %>
    <hr>
    <a href="#" class="btndoc">Documents</a>
    <hr>
    <a href="#" class="btnresults">Results</a>
    <hr>
    <a href="#" class="btnchat">Chat</a>
    <hr>
    <br>
    <br>
    <br>

    <p>Today:</p>

      <input id="Aujourdhui" type="date" name="date" value="" readonly>
        <script>
          document.getElementById("Aujourdhui").valueAsDate = new Date();
        </script>


  </div>


  <div class="modules">

    <div class="up">

      <div class="results-graph">

        <%=  image_tag "https://res.cloudinary.com/dhxefoe7j/image/upload/v1662828611/Studeasy/pool_7_mgpdrc.png", width:"150px" %>

      </div>

      <div class="deadlines">

      <%= image_tag "https://res.cloudinary.com/dhxefoe7j/image/upload/v1662830008/Studeasy/Your_weekly_deadlines_1_cbuckl.png", width:"400px" %>

      </div>

    </div>

    <div class="week-schedule">
      <h4>Weekly schedule : From 14th to 18th septembre 2022</h4>


    </div>


  </div>
















































</div>
