<h1>Documents</h1>

<div class="search">

  <input id="searchbar" onkeyup="search_documents()" type="text"
        name="search" placeholder="Search document..">
</div>

<div class="docs">

  <div class="cadre">
    <div class="head1">
      <p><i class="fa-solid fa-paperclip"> </i> Files downloaded from the chat</p>
    </div>
    <br>

    <div class="documents">
      <a class ="a" href="http://exo7.emath.fr/cours/livre-algebre-1.pdf" target ="blank"> 22/09/02 - Algebra <i class="fa-solid fa-file"></i> </a>
      <a class ="a" href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663665009/Studeasy/ms111.png_y81npw.png" target="blank"> 22/09/02 - Notes Sofia - Systems - <i class="fa-solid fa-file"></i></a>
      <a class ="a" href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663664649/Studeasy/f3a1472ec273ee7f3c5ef46007414a75_hdp7jz.jpg"target = "blank"> 22/09/05 - Note classmate - Geometry - <i class="fa-solid fa-file"></i> </a>
      <a class ="a" href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663664649/Studeasy/86899b0b1ceff1e499281b1521a2666e_ik4ruf.jpg"target= "blank"> 22/09/12 - Note Sara- Functions complex - <i class="fa-solid fa-file"></i> </a>
      <a class ="a" href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663664649/Studeasy/ae775ea9654295fbb243fb34248f727c_iyf2jg.jpg"target ="blank"> 22/09/14 - Note classmate - Geometry - Triangles - <i class="fa-solid fa-file"></i> </a>
      <a class ="a" href="http://exo7.emath.fr/cours/livre-algebre-1.pdf" target ="blank"> 22/09/14 - Algebra part 2 <i class="fa-solid fa-file"></i> </a>
      <a class ="a" href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663665009/Studeasy/ms111.png_y81npw.png" target="blank"> 22/09/15 - Notes Ulysse - algebra - <i class="fa-solid fa-file"></i></a>
      <a class ="a" href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663664649/Studeasy/f3a1472ec273ee7f3c5ef46007414a75_hdp7jz.jpg"target = "blank"> 22/09/20 - Note classmate - Vectors - <i class="fa-solid fa-file"></i> </a>
      <a class ="a" href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663664649/Studeasy/86899b0b1ceff1e499281b1521a2666e_ik4ruf.jpg"target= "blank"> 22/09/20 - Note classmate - Functions - <i class="fa-solid fa-file"></i> </a>
      <a class ="a" href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663664649/Studeasy/ae775ea9654295fbb243fb34248f727c_iyf2jg.jpg"target ="blank"> 22/09/22 - Note classmate - Geometry - <i class="fa-solid fa-file"></i> </a>


    </div>
  </div>

  <div class="cadre">
    <div class="head2">
      <p><i class="fa-solid fa-laptop-file"> </i> My uploaded files</p>
    </div>
    <br>

    <div class="documents">
      <a class ="a" href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663677961/Studeasy/page_4_nbwtlv.jpg" target ="blank"> 22/09/01 - Notes geometry - <i class="fa-solid fa-upload"></i> </a>
      <a class ="a" href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663677961/Studeasy/img_7988-0_jt3ywo.webp" target ="blank"> 22/09/01 - my notes - maths - <i class="fa-solid fa-upload"></i> </a>
      <a class ="a" href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663677961/Studeasy/1616413732_kgzdnf.webp" target ="blank"> 22/09/02 - geo!- <i class="fa-solid fa-upload"></i> </a>
      <a class ="a" href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663677961/Studeasy/2fdc3506d18f7d27b26e6fb8db233f06--amb-menu_d6emim.jpg" target ="blank"> 22/09/03 - Notes geometrics - <i class="fa-solid fa-upload"></i> </a>
      <a class ="a" href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663677961/Studeasy/geo_espace_d2y7zm.jpg" target ="blank"> 22/09/04 - Notes maths courses - <i class="fa-solid fa-upload"></i> </a>
      <a class ="a" href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663664017/Studeasy/r-sum-cst-chap-5-couleur-1_orig_e73c0v.jpg" target ="blank"> 22/09/04 - Notes  - <i class="fa-solid fa-upload"></i> </a>
      <a class ="a" href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663665008/Studeasy/2be8fb71d8723308e9b66b11171c0bd2_kpybqb.jpg" target = "blank"> 22/09/04 - My notes - Maths Prob - <i class="fa-solid fa-upload"></i> </a>
      <a class ="a" href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663665008/Studeasy/2be8fb71d8723308e9b66b11171c0bd2_kpybqb.jpg" target = "blank"> 22/09/05 - Maths course year 2 - <i class="fa-solid fa-upload"></i> </a>
      <a class ="a" href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663677961/Studeasy/geom_gfear7.png"target = "blank"> 22/09/06 - Math Fundamentals - <i class="fa-solid fa-upload"></i> </a>
      <a class ="a" href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663664684/Studeasy/davinci-plane-geometric-shapes-image-gallery_t7ms3h.jpg"target ="blank"> 22/09/06 - Da vinci - history of Maths - <i class="fa-solid fa-upload"></i> </a>
      <a class ="a" href="https://res.cloudinary.com/dhxefoe7j/image/upload/v1663664017/Studeasy/r-sum-cst-chap-5-couleur-1_orig_e73c0v.jpg" target ="blank"> 22/09/07 - Notes algebra - <i class="fa-solid fa-upload"></i> </a>

    </div>
  </div>


</div>
