<h1>Your Uploaded documents</h1>

<div class="docs">

  <div class="cadre">
    <div class="head1">
      <p><i class="fa-solid fa-paperclip"> </i> Files downloaded from the chat</p>
    </div>
    <br>

    <div class="documents">
      <p><a href="#"> <i class="fa-solid fa-file"></i> </a></p>
      <p><a href="#"> <i class="fa-solid fa-file"></i> </a></p>
      <p><a href="#"> <i class="fa-solid fa-file"></i> </a></p>
      <p><a href="#"> <i class="fa-solid fa-file"></i> </a></p>
      <p><a href="#"> <i class="fa-solid fa-file"></i> </a></p>
      <p><a href="#"> <i class="fa-solid fa-file"></i> </a></p>
      <p><a href="#"> <i class="fa-solid fa-file"></i> </a></p>
      <p><a href="#"> <i class="fa-solid fa-file"></i> </a></p>
      <p><a href="#"> <i class="fa-solid fa-file"></i> </a></p>
      <p><a href="#"> <i class="fa-solid fa-file"></i> </a></p>
      <p><a href="#"> <i class="fa-solid fa-file"></i> </a></p>
      <p><a href="#"> <i class="fa-solid fa-file"></i> </a></p>
      <p><a href="#"> <i class="fa-solid fa-file"></i> </a></p>
      <p><a href="#"> <i class="fa-solid fa-file"></i> </a></p>
      <p><a href="#"> <i class="fa-solid fa-file"></i> </a></p>

    </div>
  </div>

  <div class="cadre">
    <div class="head2">
      <p><i class="fa-solid fa-laptop-file"> </i> List of your uploaded files</p>
    </div>
    <br>

    <div class="documents">
      <p><a href="#"><i class="fa-solid fa-upload"></i> </a></p>
      <p><a href="#"><i class="fa-solid fa-upload"></i> </a></p>
      <p><a href="#"><i class="fa-solid fa-upload"></i> </a></p>
      <p><a href="#"><i class="fa-solid fa-upload"></i> </a></p>
      <p><a href="#"><i class="fa-solid fa-upload"></i> </a></p>
      <p><a href="#"><i class="fa-solid fa-upload"></i> </a></p>
      <p><a href="#"><i class="fa-solid fa-upload"></i> </a></p>
      <p><a href="#"><i class="fa-solid fa-upload"></i> </a></p>

    </div>
  </div>


</div>


<p> <%= link_to "Home", dashboard_path %></p>
