<h1>Your Uploaded documents</h1>

<div class="docs">

  <div class="chatdoc">
    <p>Files downloaded from the chat</p>
      <p><i class="fa-solid fa-file"></i></p>
      <p><i class="fa-solid fa-file"></i></p>
      <p><i class="fa-solid fa-file"></i></p>
      <p><i class="fa-solid fa-file"></i></p>
      <p><i class="fa-solid fa-file"></i></p>
      <p><i class="fa-solid fa-file"></i></p>
  </div>

  <div class="uploaded">
    <p>List of your uploaded files</p>

      <p><i class="fa-solid fa-upload"></i></p>
      <p><i class="fa-solid fa-upload"></i></p>
      <p><i class="fa-solid fa-upload"></i></p>
      <p><i class="fa-solid fa-upload"></i></p>
      <p><i class="fa-solid fa-upload"></i></p>
      <p><i class="fa-solid fa-upload"></i></p>
      <p><i class="fa-solid fa-upload"></i></p>
      <p><i class="fa-solid fa-upload"></i></p>
      <p><i class="fa-solid fa-upload"></i></p>
      <p><i class="fa-solid fa-upload"></i></p>

  </div>


</div>


<p> <%= link_to "Home", dashboard_path %></p>
