<div class="homebox">

    <h1>Welcome to the app that's gonna change your life!</h1>

    <h3>The best way to pass your exams, easily!</h3>

    <p><i class="fa-solid fa-wrench"></i>... Page under construction ... <i class="fa-solid fa-wrench"></i></p>

    <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1662821983/Studeasy/pool_3_ff7ubx.png", width:"600px" %>

</div>
