
<%# =============== VERSION 2 ===================== %>

<div class="landingbox">

  <div class="landing-content">

      <div class="landing-text">
        <%# <h1>Studizy</h1> %>
         <h1 class="title">
          <span class ="s">S</span>
          <span class ="t">t</span>
          <span class ="u">u</span>
          <span class ="d">d</span>
          <span class ="i">i</span>
          <span class ="z">z</span>
          <span class ="y">y</span>
        </h1>
        <h3>The best way to pass your exams,<span class ="easy"> easily !</span> </h3>
      </div>

      <div class="landing-links">
        <%= link_to "Sign Up", new_user_registration_path, class:'signup'  %>
        <%= link_to "Login", new_user_session_path, class:'login' %>
      </div>
  </div>



  <div class="studescription">

    <div class="central">
    <p> Have a global view in one blink ! <br>
      get acces to your schedule, results, files istantly
    </p>
    </div>

    <div class ="docshare">
    <p> Centralize your documents ! <br>
      Consult your documents, notes, and courses anywhere, <br> with our cloud!
    </p>
    </div>

    <div class="slogan">
      <p> Welcome to the app that's gonna change your life !</p>
    </div>


  </div>

    <div class="footer">

      <div class="foot">
        <p>Studizy</p>
        <p>35, Republic Street - London</p>
        <p>contac@studeasy.com</p>
      </div>

      <div class="icons">
        <ul>
          <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>



</div>

























<%# ========================================= VERSION 1============================================

<div class="homebox">

  <div class="homepage"> %>


      <%# <div class="liens">
        <%= link_to "Sing up !", new_user_registration_path, class:"btn-signup" %>
        <%# <%= link_to "Log in !", new_user_session_path, class:"btn-login" %>

      <%# </div> %>


  <%# </div> %>


  <%# <div class="footer">

    <p class="follow">Follow Us !</p>
      <ul>
        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
      </ul>
      <p class="info">Studizy - 18, Marble Street - LONDON </p>
      <p>Copyright www.studizy.com - All rights reserved.
      <a href="#">contact@studizy.com</a></p>
  </div> %>



<%# </div> %>
