<div class="add-doc">
  <br>
    <hr>
    <h3> Add a document</h3>
    <p>
    <input type="file"
      id="student-doc" name="document"
      accept="image/png, image/jpeg, .pdf, .doc">
    </p>
    <br>
    <hr>




  </div>

    <div class="edit-doc">
    <% if session.user == current_user %>
    <%= link_to "Edit the document", edit_session_path(session.user.id, session.id) %>
    </div>
    <br>

    <div class="prof-links-index">
    <%= link_to "Delete", session_path(session.user.id, session.id), method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
    </div>

    <% end %>
