
<div>
    <h1>Course <strong>n°</b><%= @course.title %></strong></h1>
</div>
<ul>
<li>Title :  <%= @course.title %></li>
<li>Description : <%= @course.description %></li>
</ul>


<%= link_to "Back to all courses", courses_path %>
