.uppage{
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 24px ;
  align-items: center;
}
// .notes-title{
//   text-align: left;
//   margin: 24px 30px;
// }
.uppage p {
  margin-bottom: 0;
  font-weight: bold;
  color: rgb(84, 82, 87);
  border-radius: 10px;
  border: solid gray 1px;
  padding: 4px 6px;
}
.gnl {
    color: rgb(232, 133, 98) ;
    font-weight: bold;
}

.bigbox{
  display: flex;
  justify-content: space-around;
  background-color: rgb(246, 236, 229);
}
.resultbox {
  margin:  24px 30px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns:  1fr 1fr ;
  justify-content: center;
  flex-grow: 1;

}
.notes-info{
  box-shadow: solid gray 1px 1px 2px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.notes-info h2{
  margin: 16px 6px;
}
.notes-info a{
  text-decoration: none;
  color: rgb(146, 212, 188);
  border-radius: 6px;
  padding: 4px 6px;
  box-shadow: solid lightgrey 1px;
  font-family: sans-serif;
  border: 1px lightgray solid;
  margin: 0 100px;
  // width: fit-content;
  // text-align: center;
}
.notes-info a:hover{
  text-decoration: none;
  color: rgb(146, 167, 212);
  // font-weight: bold;
  border-radius: 6px;
  padding: 4px 6px;
  box-shadow: solid lightgrey 1px;
}

.photo{
  background-image: url('https://res.cloudinary.com/dhxefoe7j/image/upload/v1664200918/Studeasy/pexels-darina-belonogova-8004025_lcbisk.jpg');
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  margin: 24px 0;
  width: 500px;
  border-radius: 8px;
}
