
// .course-title{
//   text-align: left;
//   padding: 12px 20px 0;
//   margin-bottom: 0;
// }

// // 0 container : box tableau de notes + moyennes
// .boardbox{
//   display: flex;
//   flex-direction: row;
//   justify-content:center;
//   margin: 20px auto;
//   background: linear-gradient(#f6cdcd, #bec3f9);
// }

// // A tableau de notes
// .boardd {
//   margin: 48px 0;
//   width: 400px;
// }
// .notes{
//   margin: 0 auto;
//   background-color: rgba(242, 243, 248, 0.852);
//   border-radius: 10px;
//   // padding: 15px;
//   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
// }
// .high th{
//   border-color: rgb(123, 126, 125);
//   border-top-left-radius: 10px;
//   border-bottom-right-radius: 10px;
//   }
// .topleft{
//   border-top-left-radius: 10px;
//   color: rgb(92, 88, 88);
// }
// .topright
// {
//   border-bottom-right-radius: 10px;
//   color: rgb(92, 88, 88);
// }
// .notes td, th{
//   font-family: sans-serif;
//   text-align: center;
//   padding: 24px;
// }
// .notes .noteplus {
//   color: rgb(7, 151, 218);
//   font-weight: bold;
//   border-color: rgb(157, 157, 157);
// }
// .notes .notevalue {
//   color: rgb(237, 109, 89);
//   font-weight: bold;
//   border-color: rgb(157, 157, 157);
// }
// .notes .datetd{
//   color: rgb(169, 169, 169);
//   border-color: rgb(157, 157, 157);
// }

// // B box moyenne perso + moyenne classe
// .avgs{
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   margin: 24px 24px;
//   width: 300px;

// }
// .your-avg{
//   height: 200px;
//   width: 300px;
//   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
//   border-radius: 8px;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   margin: auto;
//   background-color: rgba(242, 243, 248, 0.852);
// }
// .class-avg{
//   height: 200px;
//   width: 300px;
//   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
//   border-radius: 8px;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   text-align: center;
//   align-items: center;
//   margin: auto;
//   background-color: rgba(242, 243, 248, 0.852);
// }
// .h6avg{
//   color: rgb(109, 109, 121);
//   font-weight: bold;
//   font-family: sans-serif;
// }
// .your-avg p{
//   color: rgb(92, 191, 92);
//   font-weight: bold;
//   font-size: 24px;
// }
// .class-avg p{
//   color: coral;
//   font-weight: bold;
//   font-size: 24px;
// }




// ======================================================


// CONTAINER
.resultshow{
  margin: 0 auto;
}

// TITLE
.titleshow{
  display: flex;
  justify-content: flex-start;
  margin: 12px 24px;
}

// BOX = COLUMN AVG + GRADES BOARD
.showww{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 700px;
  margin: 30px;
}

// column purple
.colonne{
  border-radius: 12px;
  background-color: rgba(19, 26, 101, 0.811);
  color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 240px;
  height: 100%;
  margin: 10px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}
.colonne h4 {
  padding: 16px;
}
.colonne p {
  padding: 16px;
}
.colonne a{
  text-decoration: none;
  background: rgb(60,246,165);
  background: linear-gradient(90deg, rgba(60,246,165,0.4) 70%, rgba(0,212,255,0.4) 100%);
  border-radius: 10px;
  padding: 6px 10px;
  color: rgba(19, 26, 101, 0.811);
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
}
.colonne a:hover{
  background: rgb(60,246,165);
  background: linear-gradient(90deg, rgba(53, 16, 189, 0.4) 70%, rgba(63, 5, 79, 0.4) 100%);
  color: white;
  font-weight: bold;
}
.userrr{
  color: rgb(76, 234, 234);
  font-weight: bold;
}
//BOX : Notes + AVGS
.droite{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 12px;
  padding: 16px;
  height: 700px;

}

// BOARD GRADES
.notesboard{
  margin: 0 auto 16px;

}
.notesboard table {
  width: 450px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  // border-color: beige;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.notesboard th {
  border: none;
  background-color: rgba(19, 26, 101, 0.811);
  color: rgb(76, 234, 234);
  height: 40px;

}
.notesboard td{
  border: solid 1px rgba(177, 177, 181, 0.811);
}
.topleft{
  border-top-left-radius: 12px;
}
.topright{
  border-top-right-radius: 12px;
}


.moyennes{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.mamoyenne{
  border-radius: 12px;
  // background-color:white;
  // color:rgba(19, 26, 101, 0.811);
  background: rgb(125,205,246);
  background: linear-gradient(90deg, rgba(125,205,246,0.4) 70%, rgba(119,108,244,0.4) 100%);

  color:rgba(19, 26, 101, 0.811);
  font-weight: bold;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.valuemoi{
  color:rgb(66, 146, 251) ;
  font-weight: bold;
  font-size: 24px;
}
.classmoyenne{
  border-radius: 12px;
  // background-color:white;
  // color:rgba(19, 26, 101, 0.811);
  background: rgb(241,193,200);
  background: linear-gradient(90deg, rgba(241,193,200,0.4) 70%, rgba(244,196,108,0.4) 100%);
  color:rgba(19, 26, 101, 0.811);
  font-weight: bold;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.valueclass{
  color:rgb(252, 129, 99) ;
  font-weight: bold;
  font-size: 24px;
}
