
.course-title{
  text-align: left;
  padding: 12px 20px 0;
  margin-bottom: 0;
}



// 0 container : box tableau de notes + moyennes
.boardbox{
  display: flex;
  flex-direction: row;
  justify-content:center;
  margin: 20px auto;
  background: linear-gradient(#f6cdcd, #bec3f9);
}

// A tableau de notes
.board {
  margin: 48px 0;
  width: 400px;
}
.notes{
  margin: 0 auto;
  background-color: rgba(242, 243, 248, 0.852);
  border-radius: 10px;
  // padding: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.high th{
  border-color: rgb(123, 126, 125);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  }
.topleft{
  border-top-left-radius: 10px;
  color: rgb(92, 88, 88);
}
.topright
{
  border-bottom-right-radius: 10px;
  color: rgb(92, 88, 88);
}
.notes td, th{
  font-family: sans-serif;
  text-align: center;
  padding: 24px;
}
.notes .noteplus {
  color: rgb(7, 151, 218);
  font-weight: bold;
  border-color: rgb(157, 157, 157);
}
.notes .notevalue {
  color: rgb(237, 109, 89);
  font-weight: bold;
  border-color: rgb(157, 157, 157);
}
.notes .datetd{
  color: rgb(169, 169, 169);
  border-color: rgb(157, 157, 157);
}

// B box moyenne perso + moyenne classe
.avgs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px 24px;
  width: 300px;

}
.your-avg{
  height: 250px;
  width: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  background-color: rgba(242, 243, 248, 0.852);
}
.class-avg{
  height: 250px;
  width: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
  background-color: rgba(242, 243, 248, 0.852);
}
.h6avg{
  color: rgb(109, 109, 121);
  font-weight: bold;
  font-family: sans-serif;
}
.your-avg p{
  color: rgb(92, 191, 92);
  font-weight: bold;
  font-size: 24px;
}
.class-avg p{
  color: coral;
  font-weight: bold;
  font-size: 24px;
}
